@import "nib"

body
  padding-bottom 40px

.navbar-default .example .navbar-text
  color #B6B6B6

strong.label
  margin-bottom 10px
  display block
  padding 5px
  padding-left 10px

.content
  padding-left 20px
  padding-right 20px
  box-sizing border-box

.user-list li
  float left
  width 10%
  padding 10px
  margin 0 -1px -1px 0
  font-size 12px
  line-height 1.4
  text-align center
  border 1px solid #DDD
  text-overflow ellipsis
  overflow hidden
  cursor pointer

  &:hover
    background #EEE
