@import "nib"

body
  padding-bottom 40px

.user-list li
  float left
  padding-right 5px
  padding-bottom 5px

strong.label
  margin-bottom 10px
  display block
  padding 5px
  padding-left 10px

.content
  padding-left 20px
  padding-right 20px
  box-sizing border-box
