body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.user-list li {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

.adjust {
  padding-left: 20px;
}

strong.label {
  margin-bottom: 10px;
  display: block;
  padding: 5px;
  padding-left: 10px;
}

input.org {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin-bottom: 0px;
}

input.btn {
  width: 20%;
}

.commits {
  margin-top: 35px;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
