<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">GitHub Viewer</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/tbranyen/github-viewer">GitHub Source</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row users"></div>

  <div class="row content">
    <div class="col-sm-3 repos"></div>
    <div class="col-sm-9 commits"></div>
  </div>
</div>

<footer class="container">
  <hr>

  <a href="http://twitter.com/tbranyen" target="_blank">
    @tbranyen
  </a> | MIT License
</footer>
