<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"> GitHub Organization Viewer</a>
      <span class="navbar-text">Backbone Boilerplate/LayoutManager
        Example</span>

      <ul class="nav pull-right">
        <li>
          <a href="https://github.com/tbranyen/github-viewer">GitHub
            Source</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid users"></div>
  <div class="row-fluid content">
    <div class="span3 repos"></div>
    <div class="span9 commits"></div>
  </div>

  <hr>

  <footer>
    <p><a href="http://twitter.com/tbranyen"
      target="_blank">@tbranyen</a> | MIT License</p>
  </footer>
</div>
