<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#"> GitHub Viewer</a>

    <span class="navbar-text pull-left">
      Backbone Boilerplate Example Application
    </span>

    <span class="navbar-text pull-right">
      <a class="navbar-link" href="https://github.com/tbranyen/github-viewer">
        GitHub Source
      </a>
    </span>
  </div>
</div>

<div class="container">
  <div class="row users"></div>

  <div class="row content">
    <div class="col-3 repos"></div>
    <div class="col-9 commits"></div>
  </div>

  <hr>

</div>

<footer class="container">
  <a href="http://twitter.com/tbranyen" target="_blank">
    @tbranyen
  </a> | MIT License
</footer>
